<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @design.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @design.name %>
</p>

<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>
