<p id="notice"><%= notice %></p>

<p>
  <strong>Attachment:</strong>
  <%= @article_attachment.attachment_id %>
</p>

<p>
  <strong>Int:</strong>
  <%= @article_attachment.int %>
</p>

<p>
  <strong>Article:</strong>
  <%= @article_attachment.article_id %>
</p>

<p>
  <strong>Int:</strong>
  <%= @article_attachment.int %>
</p>

<%= link_to 'Edit', edit_article_attachment_path(@article_attachment) %> |
<%= link_to 'Back', article_attachments_path %>
