<%= form_with(model: spam, local: true) do |form| %>
  <% if spam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spam.errors.count, "error") %> prohibited this spam from being saved:</h2>

      <ul>
      <% spam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
